<mat-card>
  <mat-card-content>
    <mat-form-field
      appearance="fill"
      *ngIf="list$ | async as list; else loading"
    >
      <ng-container *ngIf="list.length > 0; else empty">
        <mat-label>Choose an option</mat-label>
        <mat-select>
          <mat-option *ngFor="let item of list" [value]="item">
            {{ item.localName }}
          </mat-option>
        </mat-select>
      </ng-container>
    </mat-form-field>
    <ng-template #empty> Oops! There is no data! </ng-template>

    <ng-template #loading>
      <mat-progress-bar
        class="example-margin"
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="50"
      >
      </mat-progress-bar>
    </ng-template>
  </mat-card-content>
</mat-card>
