<mat-card>
  <mat-card-title>Select category</mat-card-title>
  <mat-card-content>
    <mat-selection-list role="list" *ngIf="list$ | async as list; else loading">
      <ng-container *ngIf="list.length > 0; else empty">
        <mat-list-option role="listitem" *ngFor="let item of list"
          >{{ item }}
        </mat-list-option>
      </ng-container>
    </mat-selection-list>
    <ng-template #empty> Oops! There is no data! </ng-template>

    <ng-template #loading>
      <mat-progress-spinner
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="50"
      >
      </mat-progress-spinner>
    </ng-template>
  </mat-card-content>
</mat-card>
